POSTGRES_ENABLED=true
POSTGRES_HOST=YOUR_POSTGRES_SERVER
POSTGRES_PORT=your_postgres_port
POSTGRES_DB=YOUR_DATABASE
POSTGRES_USER=YOUR_DEDICATED_APP_USER
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_SCHEMA=your_postgres_schema

POSTGRES_POOL_MAX=20
POSTGRES_CONNECT_TIMEOUT_MS=10000
POSTGRES_IDLE_TIMEOUT_MS=30000
POSTGRES_SSL=false

INITIAL_REVIEWER_USERNAME=your_initial_reviewer_username
INITIAL_REVIEWER_PASSWORD=your_initial_reviewer_password

ADMIN_USERNAME=your_admin_username
ADMIN_PASSWORD=your_admin_password

VITE_DEV_PORT=your_vite_dev_port
DEV_API_TARGET=http://your_dev_api_target
VITE_API_ROOT=your_vite_api_root
TEST_BASE_URL=http://your_test_base_url

PORT=your_app_port
TRUST_PROXY=1
QR_PAYLOAD_MODE=url
PUBLIC_APP_URL=
EXPOSE_ERROR_DETAILS=false